.eventBox {
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	align-items: flex-start;
	max-width: 300px;
	/* background-color: aqua; */
}

.contentText {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: flex-start;
}
