/*
 * File: InfoBox.css
 * Project: Agenda Cultural Front End React
 * Author: Luis Fernando Choque (luisfernandochoquea@gmail.com)
 * -----
 * Copyright 2021 - 2022 Universidad Privada Boliviana La Paz, Luis Fernando Choque Arana
 */
.eventBox {
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	align-items: flex-start;
	max-width: 300px;
	/* background-color: aqua; */
}

.contentText {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: flex-start;
}
