.backGroundFiller {
	background-color: #eceeff;
	display: flex;
	align-items: center;
	justify-content: center;
	align-content: center;
}

.eventCardFiller {
	background-color: #ffffff;
	min-width: 200px;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	align-content: center;
	flex-flow: column;
	padding-left: 20px;
	padding-right: 20px;
	margin-top: 20px;
	margin-bottom: 20px;
}

.titleBox {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	max-width: 500px;

	/* matchesMinWidh600
		? "flex-start"
	 	: "center",  calling useMediaQuery hook*/
}

.imageBox{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	max-width: 500px;
}

.infoGrid{
	margin-top: 10px;
	display: flex;
	direction: row;
	align-items: flex-start;
	justify-content: center;
}
